<app-sidebar (sidebarRetracted)="onSidebarRetracted($event)" [isRetracted]="isMenuRetracted"></app-sidebar>
<app-toolbar [isMenuRetracted]="isMenuRetracted" [pageTitle]="pageTitle"></app-toolbar>
<div class="container" id="consultae" [ngClass]="{'retracted': isMenuRetracted}">
    <h3 class="encontre">Cadastre um paciente:</h3>

    <div class="container-search" *ngIf="containerSearch">
        <input type="text" placeholder="Busque um paciente por nome, telefone ou e-mail" [(ngModel)]="searchQuery"
            (input)="filterPatients()">
        <button>Buscar</button>
    </div>

    <div class="search-result" *ngIf="searchQuery.trim() !== ''">
        <div class="patient-result" *ngFor="let patient of filteredPacienteData">
            <div class="patient-data">
                <p class="patient-name">{{ patient.name }}</p>
                <button class="select-button" *ngIf="selectedPatientId !== patient.id"
                    (click)="selectPatient(patient.id)">Selecionar</button>
            </div>
            <div class="consulta-list" *ngIf="selectedPatientId === patient.id">
                <div *ngFor="let consulta of patient.consultas" class="consulta-row">
                    <div class="consulta-name">
                        <p>{{ consulta.motive }}</p>
                    </div>
                    <div class="consulta-buttons">
                        <button class="button-edit" (click)="editar(consulta.id)">Editar</button>
                        <button class="button-delete" (click)="deletar(consulta.id)">Deletar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container" *ngIf="isFormVisible">
        <form [formGroup]="form" class="fieldset" (ngSubmit)="cadastrar()">
            <div id=motive class="elemento-formulario"
                [ngClass]="{'erro-formulario': form.get('motive')?.invalid && form.get('motive')?.touched}">
                <label for=motive>Motivo da consulta:</label>
                <input type="text" name=motive formControlName=motive>
                <span *ngIf="form.get('motive')?.invalid && form.get('motive')?.touched">
                    Motivo da consulta é obrigatório e deve ter entre 8 e 64 caracteres.
                </span>
            </div>
            <div class="row">
                <div id="date" class="elemento-formulario"
                    [ngClass]="{'erro-formulario': form.get('date')?.invalid && form.get('date')?.touched}">
                    <label for="date">Data da consulta:</label>
                    <input type="date" name="date" formControlName="date">
                    <span *ngIf="form.get('date')?.invalid && form.get('date')?.touched" class="erro-formulario">
                        Data da consulta é obrigatória e deve ser uma data posterior a data atual.
                    </span>
                </div>
                <div id="time" class="elemento-formulario"
                    [ngClass]="{'erro-formulario': form.get('time')?.invalid && form.get('time')?.touched}">
                    <label for="time">Horario da consulta:</label>
                    <input type="time" name="time" formControlName="time">
                    <span *ngIf="form.get('time')?.invalid && form.get('time')?.touched" class="erro-formulario">
                        Horário é obrigatorio.
                    </span>
                </div>
            </div>
            <div id="description" class="elemento-formulario"
                [ngClass]="{'erro-formulario': form.get('description')?.invalid && form.get('description')?.touched}">
                <label for="description">Descrição do problema:</label>
                <textarea type="text" name="description" formControlName="description"></textarea>
                <span *ngIf="form.get('description')?.invalid && form.get('description')?.touched"
                    class="erro-formulario">
                    Descreva o problema em até 1024 caracteres.
                </span>
            </div>
            <div id="medication" class="elemento-formulario">
                <label for="medication">Medicação receitada (se tiver):</label>
                <input type="text" name="medication" formControlName="medication">
            </div>
            <div id="dosage" class="elemento-formulario"
                [ngClass]="{'erro-formulario': form.get('dosage')?.invalid && form.get('dosage')?.touched}">
                <label for="dosage">Precauções e dosagens:</label>
                <textarea type="text" name="dosage" formControlName="dosage"></textarea>
                <span *ngIf="form.get('dosage')?.invalid && form.get('dosage')?.touched" class="erro-formulario">
                    Você deve preencher as dosagens e precauções aqui.
                </span>
            </div>

            <div class="buttons">
                <button class="delete" [disabled]="!isEdit" [class.disabled]="!isEdit"
                    (click)="deletar(selectedConsultaId)">Deletar</button>
                <button class="edit" [disabled]="!isEdit" [class.disabled]="!isEdit"
                    (click)="cadastrar()">Editar</button>
                <button class="save" [disabled]="!form.valid" [class.disabled]="!form.valid">Salvar</button>
            </div>
        </form>
    </div>
</div>