@import '../../assets/styles/variables';

.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    padding-left: 400px;
    padding-right: 5%;
    background: $third-color;

.header{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;

    h3 {
        font-weight: 500;
        font-size: 24px;
        color: $main-color;
    }

    .row-right {
        display: flex;
        flex-direction: row;
        align-items: center;

        .user {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 70px;

            .icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $main-color;
                margin-right: 8px;
                font-size: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: #fff;
            }

            p {
                font-weight: 500;
                color: $main-color;
                font-size: 16px;
                text-transform: capitalize;
            }
        }


        .logout {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: transparent;
            fa-icon{
                font-size: 40px;
                color: $sec-color;
            }
            cursor: pointer;
        }

    }
}
}
.retracted{
    padding-left: 150px;
}