<div class="container" [ngClass]="!isSignDivVisible ? 'active' : ''" *ngIf="!isMobile">
    <div class="form-container sign-in ">
        <app-login class="login" *ngIf="isSignDivVisible"></app-login>
    </div>
    <div class="form-container sign-up ">
        <app-sign-up class="login" *ngIf="!isSignDivVisible"></app-sign-up>
    </div>

    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all site features</p>
                <button class="hidden" id="login" (click)="isSignDivVisible = true">Sign In</button>
            </div>

            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all site features</p>
                <button class="hidden" id="register" (click)="isSignDivVisible = false">Sign Up</button>
            </div>
        </div>
    </div>
</div>
<div class="mobile" *ngIf="isMobile">
    <app-login></app-login>

</div>