form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    margin: 20px;
    height: 100vh;
}

.esqueci-senha{
    cursor: pointer;
}

form h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

form span {
    font-size: 14px;
    margin-bottom: 20px;
}

form input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

form a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin-top: 10px;
}

form button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

form button.forgot-btn {
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #512da8;
    color: #512da8;
}

form button.forgot-btn:hover {
    background-color: #512da8;
    color: #fff;
}


@media screen and (max-width: 760px) {
    .sign-up {
        display: block !important;
    }
}