    <form [formGroup]="form" class="fieldset">
        <img src="../../assets/logos/logo-positive.svg" alt="logo">
        <h1>Criar conta</h1>
        <span>Cadastre-se para acessar o sistema</span>
        <div id="name" class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.nome.dirty ||
        form.controls.nome.touched) &&
        form.controls.nome.errors}">
            <input placeholder="Nome completo" type="text" name="nome" formControlName="nome">
            <span *ngIf="(form.controls.nome.dirty ||
            form.controls.nome.touched) &&
            form.controls.nome.errors &&
            form.controls.nome.errors['required']">
                *Preenchimento obrigatório
            </span>
            <span *ngIf="(form.controls.nome.dirty ||
            form.controls.nome.touched) &&
            form.controls.nome.errors &&
            form.controls.nome.errors['validarNomeCompleto']">
                *Por favor, insira seu nome completo
            </span>
        </div>
        <div id="email" class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.email.dirty ||
        form.controls.email.touched) &&
        form.controls.email.errors}">
            <input placeholder="Email" type="email" name="email" formControlName="email">
            <span *ngIf="(form.controls.email.dirty ||
            form.controls.email.touched) &&
            form.controls.email.errors &&
            form.controls.email.errors['required']">
                Preenchimento obrigatório
            </span>
        </div>
        <div id="password" class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.senha.dirty ||
        form.controls.senha.touched) &&
        form.controls.senha.errors}">
            <input type="password" name="senha" formControlName="senha" placeholder="Senha">

            <span *ngIf="form.controls.senha.dirty &&
              form.controls.senha.touched &&
              form.controls.senha.errors &&
              form.controls.senha.errors['minlength']">
                A senha deve conter ao menos 4 caracteres
            </span>
            <span *ngIf="form.controls.senha.dirty &&
              form.controls.senha.touched &&
              form.controls.senha.errors &&
              form.controls.senha.errors['required']">
                Preenchimento obrigatório
            </span>
        </div>
        <div id="password-confirm" class="elemento-formulario" [ngClass]="{'erro-formulario': (form.controls.confirmarSenha.dirty ||
        form.controls.confirmarSenha.touched) &&
        form.controls.confirmarSenha.errors}">
            <input type="password" name="confirmarSenha" formControlName="confirmarSenha"
                placeholder="Confirme sua senha">

            <span *ngIf="form.controls.confirmarSenha.dirty &&
              form.controls.confirmarSenha.touched &&
              form.controls.confirmarSenha.errors &&
              form.controls.confirmarSenha.errors['minlength']">
                A senha deve conter ao menos 4 caracteres
            </span>
            <span *ngIf="form.controls.confirmarSenha.dirty &&
              form.controls.confirmarSenha.touched &&
              form.controls.confirmarSenha.errors &&
              form.controls.confirmarSenha.errors['required']">
                Preenchimento obrigatório
            </span>
        </div>

        <button (click)="cadastrar()">Cadastrar</button>
        <div class="sign-up" style="display: none;">
            <a href="login">Voltar para login?</a>
        </div>
    </form>


