$main-color: #0b7a71;
$sec-color: #3bedcf;
$third-color: #EFFEFA;
$color-100: #cafdf1;
$color-200: #95fae5;
$color-400: #26dbc2;
$color-500: #0dbfa9;
$color-600: #08998b;
$color-800: #0e615b;
$color-900: #11504b;
$color-950: #02312f;
$text-main:#ADACB4;
$text-sec:#48485A;
