<app-sidebar (sidebarRetracted)="onSidebarRetracted($event)"></app-sidebar>
<app-toolbar [isMenuRetracted]="isMenuRetracted" [pageTitle]="pageTitle"></app-toolbar>
<div class="container">
    <div class="container-numbers">
        <div class="estatisticas">
            <div class="card pacientes">
                <div class="icon-box">
                    <div class="icon"></div>
                </div>
                <div class="text">
                    <h1 class="destaque">000</h1>
                    <p>Pacientes</p>
                </div>
            </div>
            <div class="card consultas">
                <div class="icon-box">
                    <div class="icon"></div>
                </div>
                <div class="text">
                    <h1 class="destaque">000</h1>
                    <p>Consultas</p>
                </div>
            </div>
            <div class="card exames">
                <div class="icon-box">
                    <div class="icon"></div>
                </div>
                <div class="text">
                    <h1 class="destaque">000</h1>
                    <p>Exames</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-search">
        <input type="text" placeholder="Busque por nome, telefone ou e-mail">
        <button>Buscar</button>
    </div>
    <div class="container-patients">

            <div class="card-paciente">
                <div class="img"><img src="../../assets/pictures/foto.png" alt=""></div>
                <div class="information">
                    <div class="main-info">
                        <h4 class="name">Nome completo do paciente se for gigantesco</h4>
                        <div class="age">
                            <p>000 anos</p>
                        </div>
                    </div>
                    <div class="secondary-info">
                        <div class="phone"><fa-icon icon="phone"></fa-icon>
                            <p>(00)00000-0000</p>
                        </div>
                        <div class="plan"><fa-icon icon="id-card"></fa-icon>
                            <p>Unimed</p>
                        </div>
                    </div>
                    <div class="btn"><button>Editar cadastro <fa-icon icon="pencil"></fa-icon></button></div>
                </div>
            </div>
            <div class="card-paciente">
                <div class="img"><img src="../../assets/pictures/foto.png" alt=""></div>
                <div class="information">
                    <div class="main-info">
                        <h4 class="name">Nome completo do paciente se for gigantesco</h4>
                        <div class="age">
                            <p>000 anos</p>
                        </div>
                    </div>
                    <div class="secondary-info">
                        <div class="phone"><fa-icon icon="phone"></fa-icon>
                            <p>(00)00000-0000</p>
                        </div>
                        <div class="plan"><fa-icon icon="id-card"></fa-icon>
                            <p>Unimed</p>
                        </div>
                    </div>
                    <div class="btn"><button>Editar cadastro <fa-icon icon="pencil"></fa-icon></button></div>
                </div>
            </div>
            <div class="card-paciente">
                <div class="img"><img src="../../assets/pictures/foto.png" alt=""></div>
                <div class="information">
                    <div class="main-info">
                        <h4 class="name">Nome completo do paciente se for gigantesco</h4>
                        <div class="age">
                            <p>000 anos</p>
                        </div>
                    </div>
                    <div class="secondary-info">
                        <div class="phone"><fa-icon icon="phone"></fa-icon>
                            <p>(00)00000-0000</p>
                        </div>
                        <div class="plan"><fa-icon icon="id-card"></fa-icon>
                            <p>Unimed</p>
                        </div>
                    </div>
                    <div class="btn"><button>Editar cadastro <fa-icon icon="pencil"></fa-icon></button></div>
                </div>
            </div>
            <div class="card-paciente">
                <div class="img"><img src="../../assets/pictures/foto.png" alt=""></div>
                <div class="information">
                    <div class="main-info">
                        <h4 class="name">Nome completo do paciente se for gigantesco</h4>
                        <div class="age">
                            <p>000 anos</p>
                        </div>
                    </div>
                    <div class="secondary-info">
                        <div class="phone"><fa-icon icon="phone"></fa-icon>
                            <p>(00)00000-0000</p>
                        </div>
                        <div class="plan"><fa-icon icon="id-card"></fa-icon>
                            <p>Unimed</p>
                        </div>
                    </div>
                    <div class="btn"><button>Editar cadastro <fa-icon icon="pencil"></fa-icon></button></div>
                </div>
            </div>
            <div class="card-paciente">
                <div class="img"><img src="../../assets/pictures/foto.png" alt=""></div>
                <div class="information">
                    <div class="main-info">
                        <h4 class="name">Nome completo do paciente se for gigantesco</h4>
                        <div class="age">
                            <p>000 anos</p>
                        </div>
                    </div>
                    <div class="secondary-info">
                        <div class="phone"><fa-icon icon="phone"></fa-icon>
                            <p>(00)00000-0000</p>
                        </div>
                        <div class="plan"><fa-icon icon="id-card"></fa-icon>
                            <p>Unimed</p>
                        </div>
                    </div>
                    <div class="btn"><button>Editar cadastro <fa-icon icon="pencil"></fa-icon></button></div>
                </div>
            </div>

    </div>
</div>