@import '../../assets/styles/variables';

.container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding-left: 400px;
    padding-top: 130px;
    padding-right: 2%;
}
.encontre{
    color: $color-950;
    font-size: 24px;
}

.container-search {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    input {
        outline: none;
        box-shadow: none;
        width: 100%;
        height: 42px;
        border: 2px solid $color-500;
        border-radius: 8px;
        outline: none;
        box-shadow: none;
        padding-left: 20px;
    }

    button {
        background: $main-color;
        color: #fff;
        width: 95px;
        height: 42px;
        border-radius: 8px;
        border: none;
        text-transform: uppercase;
    }
}

.search-result {
    display: flex;
    flex-direction: column;

    .patient-result {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        border: 2px solid $color-500;
        border-radius: 8px;
        margin-bottom: 20px;

        .patient-data {
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            p {
                font-size: 16px;
                font-weight: 900;
                color: $main-color;
            }

            button {
                background-color: transparent;
                border: 1px solid $sec-color;
                width: 128px;
                height: 27px;
                border-radius: 100px;
                font-size: 10px;
            }
        }

        .exam-list {
            gap:10px;
        
            .exam-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
        
                .exam-name {
                    flex: 1; 
                    font-size: 12px;
                }
        
                .exam-buttons {
                    display: flex;
                    gap: 10px;
        
                    .button-edit,
                    .button-delete {
                        width: 70px; 
                        height: 27px;
                        border-radius: 100px;
                        font-size: 10px;
                    }
        
                    .button-edit {
                        background-color: $third-color;
                        border: 1px solid $color-500;
                    }
        
                    .button-delete {
                        background-color: #f09a9a;
                        border: 1px solid #F04444;
                    }
                }
            }
        }
    }
}


.elemento-formulario {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: $color-950;
}

input {
    display: flex;
    flex-direction: column;
    gap: 30px;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 42px;
    border: 2px solid $color-500;
    border-radius: 8px;
    outline: none;
    box-shadow: none;
    padding-left: 20px;
    color: #777779;
}

input[type="date"] {
    color: #777779;
    font-size: 16px;
    line-height: 34px;
    padding-right: 20px;
}

input[type="time"] {
    color: #777779;
    font-size: 16px;
    line-height: 34px;
    padding-right: 20px;
}

textarea {
    display: flex;
    flex-direction: column;
    gap: 30px;
    outline: none;
    box-shadow: none;
    width: 100%;
    border: 2px solid $color-500;
    border-radius: 8px;
    padding-left: 20px;
    padding-top: 10px; 
    padding-bottom: 10px; 
    resize: vertical;
    color: #777779;

    &:focus {
        border-color: $main-color;
    }
}

select {
    display: flex;
    flex-direction: column;
    color: #777779;
    outline: none;
    box-shadow: none;
    width: 100%;
    height: 42px;
    border: 2px solid $color-500;
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 15px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    .save {
        background: $main-color;
        color: #fff;
        margin: 20px 0 60px 0;
        width: 161px;
        height: 42px;
        border-radius: 8px;
        border: none;
    }

    .edit {
        background-color: $third-color;
        color: $main-color;
        border: 1px solid $color-500;
        margin: 20px 0 60px 0;
        width: 161px;
        height: 42px;
        border-radius: 8px;
    }

    .delete {
        margin: 20px 0 60px 0;
        width: 161px;
        height: 42px;
        border-radius: 8px;
        border: none;
        background-color: #F04444;
        color: #fff;
    }

    .disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.row {
    display: grid;
    grid-gap: 20px;
}

.row-3 {
    display: grid;
    grid-gap: 20px;
}

.erro-formulario {
    label,
    span {
        color: red;
    }
    input,
    select {
        border-color: red;
    }
}

.custom-confirm-button-class {
    background-color: $main-color;
    color: #ffffff;
}

.retracted {
    padding-left: 150px;

}

@media (min-width: 768px) {
    .row {
        grid-template-columns: repeat(2, 1fr);
    }

    .row-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .buttons {
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;

        .delete {
            padding: 0;
            margin: 0;
            width: 100%;
        }

        .save {
            padding: 0;
            margin: 0;
            width: 100%;
        }

        .edit {
            padding: 0;
            margin: 0;
            width: 100%;
        }
    }
}