<app-sidebar (sidebarRetracted)="onSidebarRetracted($event)"></app-sidebar>
<app-toolbar [isMenuRetracted]="isMenuRetracted" [pageTitle]="pageTitle"></app-toolbar>
<div class="container" id="exame" [ngClass]="{'retracted': isMenuRetracted}">

    <div class="container-search">
        <input type="text" placeholder="Busque um paciente por nome, telefone ou e-mail" [(ngModel)]="searchQuery"
            (input)="filterPatients()">
        <button>Buscar</button>
    </div>

    <div class="search-result" *ngIf="searchQuery.trim() !== ''">
        <div class="patient-result" *ngFor="let patient of filteredPacienteData">
            <div class="patient-data">
                <p class="patient-name">{{ patient.name }}</p>
                <button class="select-button" *ngIf="selectedPatientId !== patient.id"
                    (click)="selectPatient(patient.id)">Selecionar</button>
            </div>
            <div class="exam-list" *ngIf="selectedPatientId === patient.id">
                <div *ngFor="let exam of patient.exams" class="exam-row">
                    <div class="exam-name">
                        <p>{{ exam.name }}</p>
                    </div>
                    <div class="exam-buttons">
                        <button class="button-edit" (click)="editar(exam.id)">Editar</button>
                        <button class="button-delete" (click)="deletar(exam.id)">Deletar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-container" *ngIf="isFormVisible">
        <form [formGroup]="form" class="fieldset" (ngSubmit)="cadastrar()">
            <div id="name" class="elemento-formulario"
                [ngClass]="{'erro-formulario': form.get('name')?.invalid && form.get('name')?.touched}">
                <label for="name">Nome do exame:</label>
                <input placeholder="EX:. Ressonância Magnética" type="text" name="name" formControlName="name">
                <span *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                    Nome do exame é obrigatório e deve ter entre 8 e 64 caracteres.
                </span>
            </div>
            <div class="row">
                <div id="date" class="elemento-formulario"
                    [ngClass]="{'erro-formulario': form.get('date')?.invalid && form.get('date')?.touched}">
                    <label for="date">Data do exame:</label>
                    <input type="date" name="date" formControlName="date">
                    <span *ngIf="form.get('date')?.invalid && form.get('date')?.touched" class="erro-formulario">
                        Data do exame é obrigatória e deve ser uma data posterior a data atual.
                    </span>
                </div>
                <div id="time" class="elemento-formulario"
                    [ngClass]="{'erro-formulario': form.get('time')?.invalid && form.get('time')?.touched}">
                    <label for="time">Horario do exame:</label>
                    <input type="time" name="time" formControlName="time">
                    <span *ngIf="form.get('time')?.invalid && form.get('time')?.touched" class="erro-formulario">
                        Horário é obrigatorio.
                    </span>
                </div>
            </div>
            <div class="row">
                <div id="type" class="elemento-formulario"
                    [ngClass]="{'erro-formulario': form.get('type')?.invalid && form.get('type')?.touched}">
                    <label for="type">Tipo do exame:</label>
                    <input type="text" name="type" formControlName="type" placeholder="Tipo do exame">
                    <span *ngIf="form.get('type')?.invalid && form.get('type')?.touched" class="erro-formulario">
                        Tipo do exame é obrigatório.
                    </span>
                </div>
                <div id="lab" class="elemento-formulario"
                    [ngClass]="{'erro-formulario': form.get('lab')?.invalid && form.get('lab')?.touched}">
                    <label for="lab">Laboratório:</label>
                    <input type="text" name="lab" formControlName="lab" placeholder="Nome do laboratório">
                    <span *ngIf="form.get('lab')?.invalid && form.get('lab')?.touched" class="erro-formulario">
                        Nome do laboratório é obrigatório.
                    </span>
                </div>
            </div>
            <div id="url" class="elemento-formulario">
                <label for="url">URL do exame (se tiver):</label>
                <input type="text" name="url" formControlName="url">
            </div>
            <div id="results" class="elemento-formulario"
                [ngClass]="{'erro-formulario': form.get('results')?.invalid && form.get('results')?.touched}">
                <label for="results">Resultados:</label>
                <textarea type="text" name="results" formControlName="results"></textarea>
                <span *ngIf="form.get('results')?.invalid && form.get('results')?.touched" class="erro-formulario">
                    Você deve preencher os resultados do exame.
                </span>
            </div>

            <div class="buttons">
                <button class="delete" [disabled]="!isEdit" [class.disabled]="!isEdit"
                    (click)="deletar(selectedExamId)">Deletar</button>
                <button class="edit" [disabled]="!isEdit" [class.disabled]="!isEdit"
                    (click)="cadastrar()">Editar</button>
                <button class="save" [disabled]="!form.valid" [class.disabled]="!form.valid">Salvar</button>
            </div>
        </form>
    </div>
</div>